@using Microsoft.AspNetCore.Identity
@inject SignInManager<BlogUser> SignInManager
@inject UserManager<BlogUser> UserManager

@* retrieve logged in user *@
@{
    BlogUser blogUser = await UserManager.GetUserAsync(User);
}

@if (SignInManager.IsSignedIn(User))
{
    <form id="logoutForm" class="d-none" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
    </form>
    <li class="menu-item-has-children pe-2">
        @* display the logged in user *@
        <a class="ps-2" href="#">Hello, @blogUser.FullName!</a>
        <ul class="axil-submenu" style="min-width: 0px !important;width: 100%">
            <li>
                <a class="hover-flip-item-wrapper" asp-area="Identity" asp-page="/Account/Manage/Index">
                    <span class="hover-flip-item">
                        <span data-text="Account">Account</span>
                    </span>
                </a>
            </li>
            <li>
                <a class="hover-flip-item-wrapper" href="#" onclick="document.getElementById('logoutForm').submit()">
                    <span class="hover-flip-item">
                        <span data-text="Logout">Logout</span>
                    </span>
                </a>
            </li>
        </ul>
    </li>
}
else
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li>
        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
