@model BlogMVC.Models.Category
@using BlogMVC.Services.Interfaces
@inject IImageService ImageService

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit a Category</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" asp-controller="Categories" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ImageData" />
            <input type="hidden" asp-for="ImageType" />

            @*TODO: add Image*@
            <div class="form-group">
                <label asp-for="CategoryImage" class="control-label">Upload an Image for Category</label>
                <img id="categoryImage" class="img-fluid" src="~/img/DefaultCategoryImage.png" />
                <input asp-for="CategoryImage" class="form-control" accept=".png,.jpg,.jpeg,.gif"
                       onchange="document.getElementById('categoryImage').src=window.URL.createObjectURL(this,files[0])" />
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary rounded-pill my-2 btnLink" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
