@model BlogMVC.Models.Tag

@{
    ViewData["Title"] = "Delete";
}

<!-- Tag Deletion -->

<div class="container mt-5">

    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <h2>Are you sure?</h2>
            <p class="text-lead text-muted">This tag will be deleted.</p>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="post-content">
                                <h4 class="title"><a asp-controller="Tags" asp-action="Details" asp-route-id="@Model.Id">@Model.Name</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form class="d-flex justify-content-between" asp-action="Delete" asp-route-id="@Model.Id">
                <input hidden asp-for="Id" />
                <a asp-action="Index" asp-controller="Comments" class="btn btn-outline-secondary rounded-pill btnLink">Cancel</a>
                <button type="submit" class="btn btn-danger rounded-pill btnLink">Delete</button>
            </form>
        </div>
    </div>
    
</div>