@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Stop!";
}

<div class="container mt-5">

    <div class="main-wrapper">

        <div id="my_switcher" class="my_switcher">
            <ul>
                <li>
                    <a href="javascript: void(0);" data-theme="light" class="setColor light">
                        <span title="Light Mode">Light</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                        <span title="Dark Mode">Dark</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Start Banner Area -->

        <!-- Start Error Area  -->
        <div class="error-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-12 d-flex justify-content-center">
                        <div class="inner">
                            <img src="~/img/handsup.gif" alt="error image">
                            <h1 class="title text-center">Stop!</h1>
                            <p>Sorry, but the page you were looking for could not be found.</p>

                            <div class="text-center">
                                <a class="btn btn-primary rounded-pill" asp-action="Index">Back to Homepage</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Error Area  -->

        <!-- Start Back To Top  -->
        <a id="backto-top"></a>
        <!-- End Back To Top  -->
    </div>
</div>